Simulation

Practicing Statistics with Python

In [5]:
%matplotlib inline
import numpy as np
import pandas as pd

#import viz # curriculum example visualizations

np.random.seed(22)

In [2]:
#rolling a die
np.random.choice([1,2,3,4,5,6])

6

In [11]:
n_trials = nrows = 10_000
n_dice = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
rolls

array([[1, 5],
       [1, 3],
       [4, 1],
       ...,
       [5, 2],
       [2, 3],
       [1, 4]])

### 1. How likely is it that you roll doubles when rolling two dice?

In [15]:
n_trials = nrows = 10_000
n_dice = ncols = 2

rolls = np.random.choice([1,2,3,4,5,6], n_trials * n_dice).reshape(nrows,ncols)
rolls = pd.DataFrame(rolls, columns=["first_die", "second_die"])
doubles = rolls.first_die == rolls.second_die
doubles.mean()

0.1674

In [16]:
#instructor solution
die1 = np.random.choice([1,2,3,4,5,6] , 10_000)
die2 = np.random.choice([1,2,3,4,5,6] , 10_000)

samesies = die1 == die2
samesies.mean()

0.163

### 2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [51]:
coinflips = pd.DataFrame( 
                            np.random.choice([1, 0], 10_000 * 8).reshape(10_000,8) , 
                            columns = ["one","two","three","four","five","six","seven","eight"]
                        )
coinflips

      one  two  three  four  five  six  seven  eight
0       0    0      1     1     1    0      1      0
1       0    0      1     1     0    0      1      0
2       0    0      1     1     1    0      0      1
3       1    0      0     0     0    0      1      1
4       1    1      0     0     1    0      0      0
...   ...  ...    ...   ...   ...  ...    ...    ...
9995    1    0      1     1     0    0      1      1
9996    0    0      0     0     0    1      1      1
9997    0    1      1     0     0    0      1      0
9998    1    0      1     0     1    0      1      1
9999    1    0      1     0     1    0      1      0

[10000 rows x 8 columns]

In [56]:
coinflips["head_count"] = coinflips.sum(1)
coinflips

      one  two  three  four  five  six  seven  eight  head_count
0       0    0      1     1     1    0      1      0         4.0
1       0    0      1     1     0    0      1      0         3.0
2       0    0      1     1     1    0      0      1         4.0
3       1    0      0     0     0    0      1      1         3.0
4       1    1      0     0     1    0      0      0         3.0
...   ...  ...    ...   ...   ...  ...    ...    ...         ...
9995    1    0      1     1     0    0      1      1         5.0
9996    0    0      0     0     0    1      1      1         3.0
9997    0    1      1     0     0    0      1      0         3.0
9998    1    0      1     0     1    0      1      1         5.0
9999    1    0      1     0     1    0      1      0         4.0

[10000 rows x 9 columns]

In [60]:
threeheads = coinflips.head_count == 3
threeheads.mean()

0.2186

### 3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [90]:
# 3 web dev
# 1 data science
# 2 billboards

n_trials = nrows = 10_000 # number of trials
n_billboards = ncols = 2 # number of billboards

# Creating my random chances, I have 3 web devs to 1 data science. 
# An array will be made of 10,000 chances, with what's on the 2 billboards
alumni = np.random.choice(["web dev", "web dev","web dev","data science" ], n_trials * n_billboards).reshape(nrows,ncols)

# Now to find my data scientists
is_data_scientist = alumni == 'data science'

# Finally, I count how many times 2 billboards both had data scientists on them and 
# divide by the amount of trials to find my percent chance!
p_2DS_billboards = is_data_scientist[is_data_scientist.sum(1) == 2].shape[0] / n_trials

p_2DS_billboards

0.0631

### 4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [115]:
#3 poptart packages
# stdv 1.5
# Monday 17 restock
# chance of poptart on Friday afternoon
# I'm going to assume students got to the poptarts first on Friday, so I'll include it in my poptarts calculations 

avg_poptarts = 3
stdv_poptarts = 1.5
ntrials = 10_000
num_weekdays = 5

# Creating my 10,000 weeks worth of daily poptart eating from Monday-Friday
poptart_availability  = np.random.normal(avg_poptarts, stdv_poptarts, ntrials * num_weekdays).astype(int).reshape(ntrials, 5) 

# Where did we eat less than 17 poptarts between Mononday-Friday
poptart_availability[poptart_availability.sum(1) < 17].shape[0]

# Now to find the percent chance of getting a poptart on a Friday Afternoon
# I'm taking the weeks that ate less than 17 poptarts in a week, and dividing it by the 10,000 total weeks
p_Fri_poptart_availability = poptart_availability[poptart_availability.sum(1) < 17].shape[0] / ntrials

p_Fri_poptart_availability

0.8815

### 5. Compare Heights

Men have an average height of 178 cm and standard deviation of 8cm.

Women have a mean of 170, sd = 6cm.

Since you have means and standard deviations, you can use np.random.normal to generate observations.

### If a man and woman are chosen at random, P(woman taller than man)?

In [117]:
# First to create my sample set with the information listed above
women_hts = np.random.normal(170, 6, 10_000)
men_hts = np.random.normal(178, 8, 10_000)

# Now to just compare the two genders, and find the mean of that boolean for my Percent Chance
p_W_taller = women_hts > men_hts
p_W_taller.mean()

0.2091

### 6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

### What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [129]:
p_corrupted = 1/250

# Creating random data for 50 students with 10_000 trials
n_students = 50
n_trials= 10_000
anaconda_corruption = np.random.random((n_students,n_trials))

# Searching for when corruption DID NOT occur and getting the % chance
no_corruption = anaconda_corruption > p_corrupted
no_corruption.mean()

0.995914

In [130]:
# Creating random data for 100 students with 10_000 trials
n_students = 100
n_trials= 10_000
anaconda_corruption = np.random.random((n_students,n_trials))

# Searching for when corruption DID NOT occur and getting the % chance
no_corruption = anaconda_corruption > p_corrupted
no_corruption.mean()

0.996012

In [131]:
# Creating random data for 50 students with 10_000 trials
n_students = 150
n_trials= 10_000
anaconda_corruption = np.random.random((n_students,n_trials))

# Searching for when corruption DID NOT occur and getting the % chance
corruption = anaconda_corruption < p_corrupted
corruption.mean()

0.003944

### 7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

### How likely is it that a food truck will show up sometime this week?

In [132]:
p_foodTruck = 0.7

foodTruck = np.random.random((7,10_000))
foodTruck

array([[0.90945915, 0.31892839, 0.33510833, ..., 0.12627759, 0.86977191,
        0.90382266],
       [0.76681031, 0.88027942, 0.57403687, ..., 0.95023754, 0.05002211,
        0.06022825],
       [0.7309223 , 0.57050297, 0.49402339, ..., 0.54919882, 0.75586843,
        0.9498591 ],
       ...,
       [0.95022045, 0.64447223, 0.69382129, ..., 0.31527051, 0.89905955,
        0.91204136],
       [0.53094286, 0.63971387, 0.04228791, ..., 0.76485824, 0.89160831,
        0.88123246],
       [0.84340357, 0.22752929, 0.37541552, ..., 0.57174487, 0.12828776,
        0.86301906]])